body {
  background-image: url(https://www.vippng.com/png/full/361-3612977_website-background-png-tech-background-image-for-website.png);
}

.aboutImg {
    float: left;
    margin: 10px;
  }
  
  .portfolioImg {
    margin-bottom: 45px;
    margin-right: 10px;
    padding-bottom: 10px;
  
  }

p .footer {
     width: auto;
     height: 60px;
     background-color: black;
     color: white;
     text-align: center;
     }

nav {
  height: 100px;
}

.card {
  margin-bottom: 50px;
}


 